<%
# Description: 
# - ---------------------------------------------------------
# Created by: chrisaiv@gmail.com
# Modified by: 
# Date Modified: May 31, 2010
# - ---------------------------------------------------------
# Copyright ©2010
#
# Notes: 
# This template is the default layout for :controllers => [ "scholars", "sessions", and "users" ]
#
-%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>The Tiziano Project</title>

		<!-- jQuery 1.4 -->
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' %>

		<!-- CSS -->
		<%= stylesheet_link_tag 'tripoli.reset.css' %>
		<%= stylesheet_link_tag 'scaffold' %>

		<% 
			#Borrow the idea from Python Django and their use of {% Blocks %}
			#Look at /views/scholars/index.html.erb to see the rest of the header code
		-%>
		<%= yield :head %>

		<%
			# Include jQury plug-in JQtransform in every page except for /scholars/index.
			# Why?  Well because /scholars/index uses JS Framework Prototype and I don't want
			# Framework conflicts. I don't like Prototype but Rails uses it by default so I'm 
			# choosing to leverage some of that technology 
		-%>
			<script type="text/javascript">
				$(document).ready(function(){
				});
			</script>
			<style type="text/css" media="screen">
			</style>
	</head>
	<body>

<div id="console"></div>

<!-- Outer-Wrap starts -->
<div id="outerWrap">

<!-- Inner-Wrap starts -->
<div id="innerWrap">

    <!-- Header Starts -->
	<div id="header">
	</div>
    <!-- Header Ends -->
	
	<!-- Container Starts -->
	<div id="container">		
		<% if flash[:notice] -%>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>
		<%=yield%>
	</div>
	<!-- Container Ends -->	
	<br class="clear" />
</div>
<!-- Innerwrap ends -->

<!-- Footer starts -->
    <div id=""></div>
<!-- Footer ends -->	

</div>
<!-- Outerwrap ends -->
	</body>
</html>

