<h1>Editing story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :subhead %><br />
    <%= f.text_field :subhead %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>