<h1>New story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :subhead %><br />
    <%= f.text_field :subhead %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :author %><br />
	<%= f.collection_select :author_id, Author.find(:all), :id, :last_name, :promt => "Select an Author" %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stories_path %>