<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>Headline:</b>
  <%=h @story.headline %>
</p>

<p>
  <b>Subhead:</b>
  <%=h @story.subhead %>
</p>

<p>
  <b>Text:</b>
  <%=h @story.text %>
</p>

<p>
  <b>Author:</b>
  <%=h @story.author_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>