<h1>Listing authors</h1>

<table>
  <tr>
  	<td>First Name</td>
	<td>Last Name</td>
  </tr>

<% @authors.each do |author| %>
  <tr>
	<td><%=h author.first_name %></td>
	<td><%=h author.last_name %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New author', new_author_path %>