  <p>
	<%= @author.first_name %>
  </p>
  <p>
	<%= @author.last_name %>
  </p>
  
  <p>
	<%= @author.type %>
  </p>
  
  <p>
	<%= @author.city %>
  </p>

  <p>
	<%= @author.state %>
  </p>

  <p>
	<%= @author.country %>
  </p>

  <p>
	<%= @author.region %>
  </p>

  <p>
	<%= @author.school %>
  </p>

  <p>
	<%= @author.grade %>
  </p>

  <p>
	<%= @author.major %>
  </p>

  <p>
	<%= @author.image_url %>
  </p>

  <p>
	<%= @author.summary %>
  </p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>